.customers-page {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    border: solid;
    overflow: auto;
  }
  
  .customers-page::-webkit-scrollbar {
    display: none;
  }
  
  .search-bar {
    margin-bottom: 20px;
    border: solid;
  }
  
  .customer-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .customer-list th, .customer-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .customer-list th {
    background-color: #f2f2f2;
  }
  
  .customer-list tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .customer-details {

    border: solid;
    flex: 1;
  }
  
  .customer-details h2 {
    margin-bottom: 10px;
    border: solid;
  }
  .infos{
    display: flex;
    justify-content: space-around;
    border: solid;
  }
    .customer-details p {
    border: solid;
    margin: 5px 0;
  }
  
  .customer-details button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .customer-details button:hover {
    background-color: #45a049;
  }
  